<div class="toolbar" role="banner">
    <span class="title">
        <a routerLink="https://us.dell.com" routerLinkActive="active"><span class="usa"></span>USA</a>
    </span>
    <div class="spacer"></div>
    <ul class="other-locations">
            <li><a routerLink="https://solutions.dell.com" routerLinkActive="active">Solutions</a></li>
            <li><a routerLink="https://solutions.dell.com" routerLinkActive="active">Services</a></li>
            <li><a routerLink="https://solutions.dell.com" routerLinkActive="active">Financing</a></li>
            <li><a routerLink="https://solutions.dell.com" routerLinkActive="active">Support</a></li>
        </ul>
</div>

<div class="content" role="main">

    <!-- Resources -->
    <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
    <nav class="super-Nav">
        <div class="spacer"></div>
      <ul>
        <li><a routerLink="/dell" routerLinkActive="active"><span class="logo">Dell</span></a></li>
        <li><a routerLink="/first-component" routerLinkActive="active">Laptops</a></li>
        <li><a routerLink="/first-component" routerLinkActive="active">Desktops</a></li>
        <li><a routerLink="/second-component" routerLinkActive="active">Monitors</a></li>
        <li><a routerLink="/first-component" routerLinkActive="active">Printers</a></li>
        <li><a routerLink="/first-component" routerLinkActive="active">Accessories</a></li>
        <li><a routerLink="/first-component" routerLinkActive="active">Server and Storage</a></li>
        <li><a routerLink="/first-component" routerLinkActive="active">Networking</a></li>
        <li><a routerLink="/first-component" routerLinkActive="active">Deals</a></li>
        <li>
            <span class="spacer"></span>
        </li>
        <li><span class="search"></span></li>
        <li><span class="user"></span></li>
        <li><span class="cart"></span></li>
      </ul>
    </nav>
    <div class="super-Nav">
        <div class="hero"></div>
        <div class="scroll"></div>
        <div class="help-me">
            <h2> Help Me To Choose</h2>
            <h3> We can help you choose right PC for you </h3>
        </div>
    </div>
    <!-- The routed views render in the <router-outlet>-->
    <div id="route-container">
        <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <footer>
        <!-- This is a demo boilerplate application -->
    </footer>
</div>